<a href="https://colab.research.google.com/github/divyakumar95/ProgrammingDA_CA/blob/main/Prog_Da_CA02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%%sh
curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
sudo apt-get update
sudo ACCEPT_EULA=Y apt-get -q -y install msodbcsql17

In [ ]:
!pip -q install pypyodbc

WARNING: Discarding https://files.pythonhosted.org/packages/ea/48/bb5412846df5b8f97d42ac24ac36a6b77a802c2778e217adc0d3ec1ee7bf/pypyodbc-1.3.5.2.zip#sha256=90a9a1fdbe5c06b875155d82562beb50bb22743190ca9b46a2cb71030ee65496 (from https://pypi.org/simple/pypyodbc/). Requested pypyodbc from https://files.pythonhosted.org/packages/ea/48/bb5412846df5b8f97d42ac24ac36a6b77a802c2778e217adc0d3ec1ee7bf/pypyodbc-1.3.5.2.zip#sha256=90a9a1fdbe5c06b875155d82562beb50bb22743190ca9b46a2cb71030ee65496 has inconsistent version: filename has '1.3.5.2', but metadata has '1.3.4'
WARNING: Discarding https://files.pythonhosted.org/packages/4c/4a/ba2593783287fb56b04d629abdbb8bfd09bfbab2c3ca9f63e3831e7aa572/pypyodbc-1.3.4.3.zip#sha256=cf655760fb3d81d7ddae9aa053c06123762ae97bcc6ec5c4d26ac86497107092 (from https://pypi.org/simple/pypyodbc/). Requested pypyodbc from https://files.pythonhosted.org/packages/4c/4a/ba2593783287fb56b04d629abdbb8bfd09bfbab2c3ca9f63e3831e7aa572/pypyodbc-1.3.4.3.zip#sha256=cf655760fb3d81d7ddae9aa053c06123762ae97bcc6ec5c4d26ac86497107092 has inconsistent version: filename has '1.3.4.3', but metadata has '1.3.4'
WARNING: Discarding https://files.pythonhosted.org/packages/5a/04/623370ba35a1e48fd64cdf247bec19495cc3a7f2f2f602a0d48aed80d612/pypyodbc-1.3.3.1.zip#sha256=ba1ae779dbad5f332d06ca73f22bc59674f509e25c44ed47eddf05382255c4fb (from https://pypi.org/simple/pypyodbc/). Requested pypyodbc from https://files.pythonhosted.org/packages/5a/04/623370ba35a1e48fd64cdf247bec19495cc3a7f2f2f602a0d48aed80d612/pypyodbc-1.3.3.1.zip#sha256=ba1ae779dbad5f332d06ca73f22bc59674f509e25c44ed47eddf05382255c4fb has inconsistent version: filename has '1.3.3.1', but metadata has '1.3.3'
  Building wheel for pypyodbc (setup.py) ... done

{
        "id": 2963597,
        "name": "Ireland",
        "state": "",
        "country": "IE",
        "coord": {
            "lon": -8.0,
            "lat": 53.0
        }
}
{
        "id": 2964574,
        "name": "Dublin",
        "state": "",
        "country": "IE",
        "coord": {
            "lon": -6.26719,
            "lat": 53.34399
        }
}

In [74]:
import requests,json


api_key_path = '/content/drive/MyDrive/DataAnalytics/apikey.txt'
with open(api_key_path,'r+') as f:
  api_key = f.read()
  
base_url = 'http://history.openweathermap.org/data/2.5/aggregated/month?'

cityid = '2964574'
month = '2'

Full_url= base_url+'id='+cityid+'&month='+month+'&appid='+api_key

In [75]:
response = requests.get(Full_url)
x = response.json()

In [76]:
print(x)

{'cod': 401, 'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'}

In [77]:
jsonpath = '/content/drive/MyDrive/DataAnalytics/history_bulk.json'

In [39]:
import pandas as pd

data = pd.read_json(jsonpath)
data.head()

  city_name        lat       lon  ...                         dt_iso timezone rain
0    London  51.507351 -0.127758  ...  2020-07-01 00:00:00 +0000 UTC     3600  NaN
1    London  51.507351 -0.127758  ...  2020-07-01 01:00:00 +0000 UTC     3600  NaN
2    London  51.507351 -0.127758  ...  2020-07-01 02:00:00 +0000 UTC     3600  NaN
3    London  51.507351 -0.127758  ...  2020-07-01 03:00:00 +0000 UTC     3600  NaN
4    London  51.507351 -0.127758  ...  2020-07-01 04:00:00 +0000 UTC     3600  NaN

[5 rows x 11 columns]

In [40]:
data['main'].head()

0    {'temp': 289.89, 'temp_min': 288.468, 'temp_ma...
1    {'temp': 289.27, 'temp_min': 287.588, 'temp_ma...
2    {'temp': 288.97, 'temp_min': 287.257, 'temp_ma...
3    {'temp': 288.33, 'temp_min': 287.037, 'temp_ma...
4    {'temp': 287.75, 'temp_min': 285.93, 'temp_max...
Name: main, dtype: object

In [59]:
main = pd.json_normalize(data['main'])
wind = pd.json_normalize(data['wind'])
cloud = pd.json_normalize(data['clouds'])
result = pd.concat([data,main,wind,cloud],axis=1)
result.head()

  city_name        lat       lon  ... speed  deg all
0    London  51.507351 -0.127758  ...   5.1  230  90
1    London  51.507351 -0.127758  ...   3.6  230  90
2    London  51.507351 -0.127758  ...   5.1  240  90
3    London  51.507351 -0.127758  ...   4.6  240  75
4    London  51.507351 -0.127758  ...   4.1  240  75

[5 rows x 20 columns]

In [60]:
result = result.drop(['main','wind','clouds'],axis=1)

In [61]:
for i in data['weather'][0]:
  weather = pd.json_normalize(i)
result = pd.concat([result,weather],axis=1)
result = result.drop('weather',axis=1)
result.head()

  city_name        lat       lon  ...    main      description  icon
0    London  51.507351 -0.127758  ...  Clouds  overcast clouds   04n
1    London  51.507351 -0.127758  ...     NaN              NaN   NaN
2    London  51.507351 -0.127758  ...     NaN              NaN   NaN
3    London  51.507351 -0.127758  ...     NaN              NaN   NaN
4    London  51.507351 -0.127758  ...     NaN              NaN   NaN

[5 rows x 20 columns]

In [62]:
len(result)

48

In [65]:
result[result['main'].isna()]

   city_name        lat       lon          dt  ...  id  main description  icon
1     London  51.507351 -0.127758  1593565200  ... NaN   NaN         NaN   NaN
2     London  51.507351 -0.127758  1593568800  ... NaN   NaN         NaN   NaN
3     London  51.507351 -0.127758  1593572400  ... NaN   NaN         NaN   NaN
4     London  51.507351 -0.127758  1593576000  ... NaN   NaN         NaN   NaN
5     London  51.507351 -0.127758  1593579600  ... NaN   NaN         NaN   NaN
6     London  51.507351 -0.127758  1593583200  ... NaN   NaN         NaN   NaN
7     London  51.507351 -0.127758  1593586800  ... NaN   NaN         NaN   NaN
8     London  51.507351 -0.127758  1593590400  ... NaN   NaN         NaN   NaN
9     London  51.507351 -0.127758  1593594000  ... NaN   NaN         NaN   NaN
10    London  51.507351 -0.127758  1593597600  ... NaN   NaN         NaN   NaN
11    London  51.507351 -0.127758  1593601200  ... NaN   NaN         NaN   NaN
12    London  51.507351 -0.127758  1593604800  ... NaN   NaN         NaN   NaN
13    London  51.507351 -0.127758  1593608400  ... NaN   NaN         NaN   NaN
14    London  51.507351 -0.127758  1593612000  ... NaN   NaN         NaN   NaN
15    London  51.507351 -0.127758  1593615600  ... NaN   NaN         NaN   NaN
16    London  51.507351 -0.127758  1593619200  ... NaN   NaN         NaN   NaN
17    London  51.507351 -0.127758  1593622800  ... NaN   NaN         NaN   NaN
18    London  51.507351 -0.127758  1593626400  ... NaN   NaN         NaN   NaN
19    London  51.507351 -0.127758  1593630000  ... NaN   NaN         NaN   NaN
20    London  51.507351 -0.127758  1593633600  ... NaN   NaN         NaN   NaN
21    London  51.507351 -0.127758  1593637200  ... NaN   NaN         NaN   NaN
22    London  51.507351 -0.127758  1593640800  ... NaN   NaN         NaN   NaN
23    London  51.507351 -0.127758  1593644400  ... NaN   NaN         NaN   NaN
24    London  51.507351 -0.127758  1593648000  ... NaN   NaN         NaN   NaN
25    London  51.507351 -0.127758  1593651600  ... NaN   NaN         NaN   NaN
26    London  51.507351 -0.127758  1593655200  ... NaN   NaN         NaN   NaN
27    London  51.507351 -0.127758  1593658800  ... NaN   NaN         NaN   NaN
28    London  51.507351 -0.127758  1593662400  ... NaN   NaN         NaN   NaN
29    London  51.507351 -0.127758  1593666000  ... NaN   NaN         NaN   NaN
30    London  51.507351 -0.127758  1593669600  ... NaN   NaN         NaN   NaN
31    London  51.507351 -0.127758  1593673200  ... NaN   NaN         NaN   NaN
32    London  51.507351 -0.127758  1593676800  ... NaN   NaN         NaN   NaN
33    London  51.507351 -0.127758  1593680400  ... NaN   NaN         NaN   NaN
34    London  51.507351 -0.127758  1593684000  ... NaN   NaN         NaN   NaN
35    London  51.507351 -0.127758  1593687600  ... NaN   NaN         NaN   NaN
36    London  51.507351 -0.127758  1593691200  ... NaN   NaN         NaN   NaN
37    London  51.507351 -0.127758  1593694800  ... NaN   NaN         NaN   NaN
38    London  51.507351 -0.127758  1593698400  ... NaN   NaN         NaN   NaN
39    London  51.507351 -0.127758  1593702000  ... NaN   NaN         NaN   NaN
40    London  51.507351 -0.127758  1593705600  ... NaN   NaN         NaN   NaN
41    London  51.507351 -0.127758  1593709200  ... NaN   NaN         NaN   NaN
42    London  51.507351 -0.127758  1593712800  ... NaN   NaN         NaN   NaN
43    London  51.507351 -0.127758  1593716400  ... NaN   NaN         NaN   NaN
44    London  51.507351 -0.127758  1593720000  ... NaN   NaN         NaN   NaN
45    London  51.507351 -0.127758  1593723600  ... NaN   NaN         NaN   NaN
46    London  51.507351 -0.127758  1593727200  ... NaN   NaN         NaN   NaN
47    London  51.507351 -0.127758  1593730800  ... NaN   NaN         NaN   NaN

[47 rows x 20 columns]